<div class="header-container">
    <header class="header">
        <div class="logo">
            <div (click)="onClick()">
                 <img src="../../assets/images/logoMain.png" alt="main-logo" class="logo-img">
        </div>
        </div>
        <!-- nav-open -->
        
        <!-- Hamburger icon -->
        
            <input class="side-menu" type="checkbox" id="side-menu" #myCheckbox/>
            <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>

        <nav class="navigation-container" id="nav-container">
            
            <ul class="navigation-list">
                 
                    <li (click)="onClick()">Home</li>
                
                    <li (click)="scrollToAbout()">About us</li>
                   
                    <li (click)="scrollToProject()">Projects</li>
                
                    <li (click)="scrollToTeam()">Team</li>
                
                    <li (click)="scrollToContact()">Contact</li>
                
            </ul>

        </nav>
        <div class="menu" (click)="onContactClick()">
            <img class="menu-icon" src="../../assets/images/menu-icon.png" alt="meni-icon">
        </div>

    </header>
</div>