<div class="header-container">
    <header class="header">
        <div class="logo">
            <a href="#">
                 <img src="../../assets/images/logoMain.png" alt="main-logo" class="logo-img">
             </a>
        </div>
        <!-- nav-open -->
        <nav class="navigation-container">

            <!-- <div class="close-icon"></div> -->
            
            <ul class="navigation-list">
                <a href="#">
                    <li>Home</li>
                </a>
                <a href="#">
                    <li>About us</li>
                </a>
                <a href="#">
                    <li>Projects</li>
                </a>
                <a href="#">
                    <li>Team</li>
                </a>
                <a href="#">
                    <li>Contact</li>
                </a>
            </ul>
        </nav>
        <div class="menu">
            <img class="menu-icon" src="../../assets/images/menu-icon.png" alt="meni-icon">
        </div>
    </header>
</div>