<div class="footer-container">
    <div class="footer-grid">
        <div class="content-div">
            <img src="assets/icons/logoWhite.png" alt="brand"  class="syll-brand"/>
            <p class="footer-paragraph">Syllogia was established in 2020, which aimed to create business
                application. The founders of organization worked for many years
                both in the IT direction and in the field of financial accounting. Many
                years of experience have shown that technological innovations
                present new challenges to business.</p>
            <!-- <div class="social-icons">
                <a href="https://facebook.com">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://twitter.com">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://linkedin.com">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div> -->
        </div>
        <div class="content-div">
            <h3 class="footer-title">Other Information</h3>
            <div class="footer-list">
                <div>Customer Care</div>
                <div>tel(+995)567 3099999</div>
                <div>Want to become part of our team ?</div>
                <div>Become@syllogia.com</div>
            </div>
        </div>
        <div class="content-div">
            <h3 class="footer-title">Quick Contact Info</h3>
            <div class="footer-list">
                <div>2118 Thornridge Cir. Syracuse, Connecticut 35624</div>
                <div>(704) 555-0127</div>
                <div>syllogia@info.com</div>
            </div>
        </div>
        <div class="content-div">
            <h3 class="footer-title">Accepted Payments</h3>
            <div class="payments-grid">
                <div class="card">
                    <img src="../../assets/images/visa.webp" alt="card">
                </div>
                <div class="card">
                    <img src="../../assets/images/bitcoin.webp" alt="card">
                </div>
                <div class="card">
                    <img src="../../assets/images/pay.webp" alt="card">
                </div>
                <div class="card">
                    <img src="../../assets/images/mastercard.webp" alt="card">
                </div>
                <div class="card">
                    <img src="../../assets/images/stripe.webp" alt="card">
                </div>
                <div class="card">
                    <img src="../../assets/images/paypal.webp" alt="card">
                </div>
            </div>
        </div>




        <!-- <div class="map">
            <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=tbilisi, chikovani street 9&t=&z=10&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://2yu.co"></a><br><style>.mapouter{position:relative;text-align:right;height:100%;width:100%;}</style><style>.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}</style></div></div>
        </div> -->
    </div>
</div>