.about-us-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 200px;
    padding-left: 100px;
}
/* left side */

/* .photo-container img{
    border-radius: 8px;
    width: 100%;
} */
.team-image1{
    border-radius: 8px;
    width: 100%;
    opacity: 0;
}

.animated-text{
    opacity: 1;
    transition: opacity 2s ease-in-out;
}

/* right side */
.description {
    display: flex;
    justify-content: center;
    flex-direction: column;  
    padding-left: 120px;
    opacity: 0;
}
.text-animation {
    opacity: 1;
    transition: opacity 2s ease-in-out;
}
.about-syllogia{
    width: 610px;
    font-weight: 400;
    font-size: 24px;
    color: #7c859b;
    line-height: 1.4;
    letter-spacing: 2px;
}

/* responsive for phone 400px */

@media (max-width:420px){
    .about-us-container{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 0px;
        padding: 10px;
    }
    .description {
        padding: 10px;
    }
    .about-syllogia{
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        line-height: 1;
        letter-spacing: 1.2px;
    }
    .photo-container img{
        width: 100%;
    }
}