.about-us-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 200px;
    padding-left: 100px;
}
/* left side */

/* .photo-container img{
    border-radius: 8px;
    width: 100%;
} */
.team-image1{
    border-radius: 8px;
    width: 90%;
    transform: translateX(-200%);
    transition: transform 1s ease-in-out;

}

.animated-text{
    transform: translateX(0);
    transition: transform 1s ease-in-out;
}

/* right side */
.title{
    color: #212529;
    margin-top: 40px;
}
.dots {
    width: 40px;
    height: auto;
}
.text-main-project{
    color: #4f13a3;
    font-size: 20px;
    padding-bottom: 50px;
    padding-left: 10px;
}
.description {
    display: flex;
    justify-content: center;
    flex-direction: column;  
    padding-left: 50px;
    opacity: 0;
    transform: translateY(85%);
    transition: opacity,transform 1s;    
    align-self: end;

}
.text-animation {
    opacity: 1;
    transform: translateY(0);
    transition: opacity,transform 1s;    
}
.about-syllogia{
    width: 610px;
    font-weight: 400;
    font-size: 20px;
    color: #7c859b;
}

/* responsive for phone 400px */

@media (max-width:432px){
    .about-us-container{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 0px;
        padding: 10px;
    }
    .description {
        padding: 10px;
        padding-top: 40px
    }
    .about-syllogia{
        font-size: 16px;
        width: auto;
        line-height: 1.4;
        letter-spacing: 0;
    }
    .photo-container img{
        width: 100%;
    }
}