<div class="about-us-container">
    <div class="photo-container">
        <img src="../../assets/images/team.jpeg" alt="team" class="team-image1" [class.animated-text]="image2Animation">
    </div>
    <div class="description"  [class.text-animation]="image2Animation">
        <h1>About us</h1>
        <div class="about-syllogia">Syllogia was established in 2020, which aimed to create business application.
            The founders of organization worked for many years both in the IT direction
            and in the field of financial accounting. Many years of experience have shown
            that technological innovations present new challenges to business. Therefore,
            the main goal of Syllogia is to create a multi-platform business ERP application
            that will be adapted to the business models and tax system of the Caucasus, Central and Eastern Europe.
        </div>
    </div>
</div>