<div class="main-project-container">
    
        <div class="project-img-container">
            <img src="../../assets/images/main-project-img.jpg" alt="main-project">
        </div>
        <div class="grid-container">
            <div class="title-main-project">
                <div>
                    <img src="../../assets/images/3dots.png" alt="3dots" class="dots">
                    <span class="text-main-project">OUR MAIN PROJECT</span>
                </div>
                <h3 class="title">SYLLOGIA ERP</h3>
                <p class="paragraph">
                    Syllogia ERP is a multi-platform (Windows, Mac, Linux, Ios, Android) support application that will be available for desktop and mobile users. The application combines several different modules that can be used both separately and together , according to business requirements.
                </p>
            </div>
            <div class="ERPscreen">
                <img src="../../assets/images/ERPscreen.jpg" alt="ERP-screen">
            </div>
        </div>    
    
</div>