<div class="main-project-container">
    
        <div class="project-img-container">
            <img src="../../assets/images/main-project-img.jpg" alt="main-project">
        </div>
        <div class="grid-container">
            <div class="title-main-project">
                <div>
                    <img src="../../assets/images/3dots.png" alt="3dots" class="dots">
                    <span class="text-main-project">OUR MAIN PROJECT</span>
                </div>
                <h3 class="title">SYLLOGIA ERP</h3>
                <p class="paragraph">
                    Syllogia ERP is a multi-platform (Windows, Mac, Linux, Ios, Android) support application that will be available for desktop and mobile users. The application combines several different modules that can be used both separately and together , according to business requirements.
                </p>
            </div>
            <div class="ERPscreen">
                <img src="../../assets/images/ERPscreen.jpg" alt="ERP-screen">
            </div>
        </div>    

        <div class="line">

        </div>
        <!-- ERP modules -->

        <div class="erp-modules-container">
            <h2 class="erp-title">ERP Modules</h2>
            <div class="erp-description">some desciption</div>
            <div class="erp-grid-container">
                <div class="module">
                    <img src="../../assets/images/icon.png" alt="icon">
                    <div class="module-p">Accounting Management</div>
                </div>
                <div class="module">
                    <img src="../../assets/images/icon.png" alt="icon">
                    <div class="module-p">Distribution</div>
                </div> 
                <div class="module">
                    <img src="../../assets/images/icon.png" alt="icon">
                    <div class="module-p">Manifacture Management</div>
                </div> 
                <div class="module">
                    <img src="../../assets/images/icon.png" alt="icon">
                    <div class="module-p">Finances</div>
                </div> 
                <div class="module">
                    <img src="../../assets/images/icon.png" alt="icon">
                    <div class="module-p">Production</div>
                </div>
                 <div class="module">
                    <img src="../../assets/images/icon.png" alt="icon">
                    <div class="module-p">Online Market</div>
                </div> 
                <div class="module">
                    <img src="../../assets/images/icon.png" alt="icon">
                    <div class="module-p">Stock Management</div>
                </div> 
                <div class="module">
                    <img src="../../assets/images/icon.png" alt="icon">
                    <div class="module-p">Human Resources</div>
                </div>
            </div>
        </div>
    
</div>