<app-header  (openContactBar)="displayContact($event)"></app-header>

<button class="top-arrow" (click)="scrollToTop()">
    <span class="material-symbols-outlined arrow">
        keyboard_double_arrow_up
        </span>
</button>

<!-- contact bar -->
<div class="contact-bar" *ngIf="contactOnDisplay">
    <div class="contact-content">
        <button class="close" (click)="closeContactBar()">
            <span class="material-symbols-outlined" style="color:white;">close</span>
        </button>
        <div class="brand">
            <a href="" class="expanded-menu__header-brand">
                <img src="assets/icons/logoWhite.png" alt="" style="width: 200px; height: 74px" />
            </a>
        </div>
      </div>

      <div class="text">
        <div class="text-one">
            <h3>About us</h3>
            <p> It is a long established fact that a reader
            will be distracted by the readable content
            of a page when looking
            </p>
        </div>
        <div class="text-two">
            <h3>Contact info</h3>
            <p>3891 Ranchview Dr. Richardson, California 62639</p>
            <p>tanya.hill@example.com</p>
            <p>Phone : (208) 555-0112</p>
        </div>
      </div>
      <div class="download">
        <a href=""> Download App </a>
    </div>
</div>

