<div class="main-container">
    <div class="slider-container">
        <div class="grid-container">
            <div class="text-container">
                <div class="title">Dignissimos Wisi Cillum</div>
                <div class="paragraph">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text.</div>
            </div>

            <div class="slider">
                <div class="photo">
                    <img src="../../assets/images/st1.png" alt="">
                </div>
                <div class="photo">
                    <img src="../../assets/images/st2.png" alt="">
                </div>
            </div>
            
            <div class="aproach-challenge-container">
                <div class="a-c-item">
                    <div class="title">Approach</div>
                    <div class="paragraph">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy.</div>
                </div>
                <div class="a-c-item">
                    <div class="title">Challenge</div>
                    <div class="paragraph">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy.</div>
                </div>
            </div>
        </div>
    </div>    
</div>