<div class="main-slide-container">
    <div class="text-container">
        <div class="text">
            <div>Business</div>
            <div>Progress</div>
            <div>Become here</div>
        </div>
        
    </div>
    <div class="laptop-container">
        <div class="laptop-mobile-container">
            <img src="../../assets/images/laptop.png" alt="laptop" class="laptop-img">
            <img src="../../assets/images/mobile.png" alt="mobile" class="mobile-img">
         </div>
    </div>
    <div class="purple-part">
        <svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
            <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill:#4731b7;"></path>
        </svg>
    </div>
</div>