<div class="main-slide-container">
    <div class="text-container">
        <div class="text">
            <div>Business</div>
            <div>Progress</div>
            <div>Become here</div>
        </div>
        
    </div>
    <div class="laptop-container">
        <div class="laptop-mobile-container">
            <img src="../../assets/images/laptop.png" alt="laptop" class="laptop-img">
            <img src="../../assets/images/mobile.png" alt="mobile" class="mobile-img">
         </div>
    </div>
    <img class="purple-part" src="../../assets/images/purple-part.png" alt="purple-part">

</div>