.main-slide-container{
    background: linear-gradient(#4731b7 70%,#ffffff 30%);

    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    min-height: 600px;
    padding-top: 100px;
}
/* left side */

.text-container {
    position: relative;
    width: 100%;
    height: 100%;    
}

.text{
    position: absolute;
    z-index: 2;
    color: #fff;
    display: flex;
    flex-direction: column;    
    font-size: 100px;
    gap: 20px;
    font-weight: bold;
    padding: 100px;
    padding-top: 40px;
}
.text div:hover {
    -webkit-text-stroke:2px #fff ;
    color: transparent;
  }
.purple-part{
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 305px;
}
/* right side */
.laptop-mobile-container{
    position: relative;
    z-index: 10;
    top: 75px;
    padding: 0px 15px;
}
.laptop-img{
    width: 1050px;
}

.mobile-img{
    position: absolute;
    left: -9px;
    top: 30px;
    z-index: 11;
    animation: MoveUpDown 4s linear infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
      top: 30px;
    }
    50% {
      top: 150px;
    }
  }


  /* main slide responsive */

@media (max-width:432px){
  .laptop-img{
    width: 100%;
}
      .purple-part{
        top: 485px;
    }
    .main-slide-container{
        grid-template-columns: 1fr ;
        align-items: center;
        min-height: 700px;
        padding-top: 100px;
        border-radius: 12px;
    }
    .text{
        font-size: 50px;
        padding: 40px;
        padding-top: 0;
    }
    .laptop-mobile-container
        {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobile-img{
        left: 19px;
        width: 12%;
        animation: MoveUpDown2 4s linear infinite;
        position: absolute;
    }
    @keyframes MoveUpDown2 {
        0%, 100% {
          top: 10px;
        }
        50% {
          top: 78px;
        }
      }
}